/* css for the body element. acts as a global css element */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: black;

  }
  
  /* text is white and formatted */
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: white;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  /* formatting the jumbotron */
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: white;
    border-radius: 0;
    border-bottom: 10px solid white;
  }
  
  /* formatting */
  .description {
    white-space: pre-wrap;
  }
  
  /* time-block is being formatted */
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  /* row is beign formatted and colored */
  .row {
    white-space: pre-wrap;
    height: 100px;
    border-top: 1px solid white;
    margin: auto;
  }

  /* left column text is white */
  .leftcol{
      color: white;
  }

  /* all columns have white text and are formatted*/
  .col{
    border: solid 4px white;
    width: 50%;
    color: white;
  }
  
  /* hour text is white and formatted */
  .hour {
    background-color: #ffffff;
    color: white;
    border-top: 1px dashed white;
  }
  
  /* all buttons have these traits and are formatted */
  #btn {
    border-left: 1px solid white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #3f2f49;
    color: white;
    transform: translateX(-15px);
    height: 98px;
    width: 100px;
  }
  
  /* when hovering over the buttons they are animated and formatted */
  #btn:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }


  